/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(../images/markdown/h1.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(../images/markdown/h2.png); 
}


.markItUp .markItUpButton3 a {
	background-image:url(../images/markdown/bold.png);
}
.markItUp .markItUpButton4 a {
	background-image:url(../images/markdown/italic.png);
}

.markItUp .markItUpButton5 a {
	background-image:url(../images/markdown/list-bullet.png);
}
.markItUp .markItUpButton6 a {
	background-image:url(../images/markdown/list-numeric.png);
}

.markItUp .markItUpButton7 a {
	background-image:url(../images/markdown/link.png);
}

.markItUp .markItUpButton8 a	{
	background-image:url(../images/markdown/quotes.png);
}
.markItUp .markItUpButton9 a	{
	background-image:url(../images/markdown/code.png);
}
.markItUp .markItUpButton10 a	{
	background-image:url(../images/markdown/preview.png);
}
